@import "~stylus/variables"

html, body{
    margin: 0;
}

#app, body, html{
    height 100%
}

#app{
    display flex
    flex-direction column
}

h1, h2, h3, h4, h5, h6{
    font-weight 300
    margin-top 0.3em
    margin-bottom: 0.2em
}

a{
    cursor pointer
    color: $theme1
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif
    background: #eee
    color: #222
}

.end{
    margin-left: auto
}

.flex-center{
    display flex
    justify-content center
    flex-direction column
}

.flex-mobile-row{
    display flex
    flex-direction row
    > * {
        flex 1 0 0
        padding 0 10px
    }
    @media (max-width: $laptop) {
        flex-direction column
        > * {
            flex 1 0 auto
            padding 10px
        }
    }
}

.flex-center-all{
    display flex
    justify-content center 
    align-items center
    flex-direction column
}

.row{
    flex-direction row
    display flex
}

.huge-title{
    font-size 3.5em;
    font-weight 700
    font-style italic
    @media(max-width $tablet){
        font-size: 3em;
    }
}

.flex-column{
    flex-direction column
    display: flex
}

.flex-row{
    flex-direction row
    display flex
}

*{
    box-sizing border-box
}

.align-center{
    text-align center
}

a{
    text-decoration none
}

.shadow{
    text-shadow 0 0 4px rgba(0,0,0,0.6)
}

.margin-top-bottom{
    margin-top: 10px;
    margin-bottom: 1px;
}

.margin-top-bottom-large{
    margin-top: 25px;
    margin-bottom: 25px;
}

.light{
    font-weight 200;
}

.center{
    text-align center
}

.small-text{
    font-size 13px
}


.max-350{
    width 100%
    max-width 350px
}

.thin{
    font-weight 200;
}

.bold {
    font-weight 700
}

.error{
    font-size 13px
    color #c11;
}

.small-text {
    font-size 14px
}

.large-text {
    font-size 2.4em
}

.inline-block {
    display inline-block
}